body
{
	background: #FCF6E6;
}

h2 {
 text-indent:20px; 
 color: #B4045F;
}
a:link {
color: #FF0080;
}
a:visited {
color: #FF0080;
}
a:hover {
color: #FF0080;
}
a:active {
color: black;
}

table {
 border: solid 0px;
}

 #wrapper {
 position: fixed;
 left: 15%;
 margin: 0 auto;
 width: 760px;
 height: 100%;
}
	
#heading {
 position: absolute;
 left: 160px;
 top: 10px;
 text-align: center;
 margin-left: 0 auto;
 margin-right: 0 auto;
 padding: 0;
 width: 600px;
 color: white;
 height: 120px;
 border-radius: 30px;
 -moz-border-radius: 30px;
 -webkit-box-shadow: 0 .7em 2em -10px #000;
-moz-box-shadow: 0 .7em 2em -10px #000;
-o-box-shadow: 0 .7em 2em -10px #000;
box-shadow: 0 .7em 2em -10px #000;
 }

 #navigation {
 position: absolute;
 top: 130px;
 margin: 0 auto;
 width: 149px;
 height: 100%;
 background: #F8F8F8;
 float: left; 
 border-radius: 30px;
 -moz-border-radius: 30px;
 -webkit-box-shadow: 0 .7em 2em -10px #000;
-moz-box-shadow: 0 .7em 2em -10px #000;
-o-box-shadow: 0 .7em 2em -10px #000;
box-shadow: 0 .7em 2em -10px #000; 
 }

 #wwlink
 {
 text-align: center;
 }
 
#mid {
 position: absolute;
 top: 130px;
 margin: 0 auto;
 left: 160px;
 width: 600px;
 height: 100%;
 background: #F8F8F8;
 float: left;
 border-radius: 20px;
 -moz-border-radius: 20px;
 -webkit-box-shadow: 0 .7em 2em -10px #000;
-moz-box-shadow: 0 .7em 2em -10px #000;
-o-box-shadow: 0 .7em 2em -10px #000;
box-shadow: 0 .7em 2em -10px #000;
}

h1
{
	font-family: Verdana;
	color: #FCF6E6;
	font-size: 50px;
}

a:link
{
	font-family: Verdana;
	font-size: 10px;
}

a:hover
{
font-size: 15px;
font-family: Verdana,
}

#banner
{
	background: #088A08;
	width: 600px;
	height: 120px;
	border-radius: 30px;
    -moz-border-radius: 30px;
}

#Left
{
	width: 80%;
	float: left;
}

#Right
{
	width: 20%;
	float: left;
	background: #FFBF00;
	height: 100%;
	border-radius: 30px;
    -moz-border-radius: 30px;
}


#logo
{
 position: absolute;
 top: 0px;
 margin: 0 auto;
 left: 10px;
}

#adres
{
 position:absolute;
 left: 27px;
}

h3
{
 text-indent:22px;
}

#factuurb
{
 position:relative;
 left: 270px;
}

#sidebar
{
 position:absolute;
 left:8px;
}
